---
import Layout from '../layouts/Layout.astro'
import tailyUI from 'taily-ui'
import { favicon } from '../icons/favicon'
import { languages } from '../icons/languages'
import { frameworks } from '../icons/frameworks'
import { runtime } from '../icons/runtime'
import { libraries } from '../icons/libraries'
import { deploy } from '../icons/deploy'
import { standards } from '../icons/standards'
import { software } from '../icons/software'

const month = new Date().getMonth()
const day = new Date().getDate()
const year = new Date().getFullYear()
const monthNames = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]
export async function getStaticPaths() {
    return [undefined, 'default', 'primary', 'secondary', 'success', 'warning', 'error', 'ghost'].map((theme) => ({
        params: { theme }
    }))
}
const { theme } = Astro.params
const colorTheme =
    (theme as 'default' | 'primary' | 'secondary' | 'success' | 'warning' | 'error' | 'ghost') ?? 'default'
---

<Layout
    title="Hi, Nik Delvin here!"
    description="6-years experienced, 3-startups launched Full-stack Web Developer, Android/IOS Developer, DevOps."
    color={colorTheme}
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: favicon,
                title: 'Nik Delvin',
                color: colorTheme,
                text: [
                    { type: 'default', value: 'Launch' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: `ideas directly to your customers' PC or phone devices with help of`
                    },
                    { type: 'secondary', value: 'all-in-one developer' }
                ],
                description:
                    '6-years experienced, 3-startups launched Full-stack Web Developer, Android/IOS Developer, DevOps.',
                button: {
                    title: 'To my projects',
                    link: '#projects'
                },
                github: 'https://github.com/nikdelvin'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'I can offer you',
                color: colorTheme,
                cards: [
                    { title: '6', description1: 'years of', description2: 'experience' },
                    { title: '3', description1: 'launched', description2: 'projects' },
                    { title: '6', description1: 'open source', description2: 'projects' },
                    { title: '3', description1: 'scientific', description2: 'articles' }
                ],
                button: {
                    title: 'Hire me today',
                    link: '#footer'
                }
            })}
        />
        <fragment
            id="features_1"
            set:html={tailyUI.FeatureCards({
                title: "I've learned a lot",
                color: colorTheme,
                reverse: false,
                featureTitle: 'My journey',
                featureDescription: [
                    { type: 'default', value: 'Starts with an' },
                    { type: 'primary', value: 'idea' },
                    { type: 'default', value: 'to create a' },
                    { type: 'primary', value: 'site builder' }
                ],
                featureOptions: [
                    "I've created Brodly - a stylish, modern, high-secure, and fully anonymous live-streaming platform",
                    "I've created TailyUI - an open-source Components & Site Layouts UI library 100% built and animated with pure Tailwind CSS which I support to this day",
                    "I've created Neuroly - an AI chatbot based on 56B tokens LLM, with voice recognition and synthesis"
                ],
                button: {
                    title: 'Learn more',
                    link: '#features_2'
                }
            })}
        />
        <fragment
            id="features_2"
            set:html={tailyUI.FeatureCards({
                title: 'I made a deep dive into',
                color: colorTheme,
                reverse: true,
                featureTitle: 'Web dev',
                featureDescription: [
                    { type: 'default', value: 'From' },
                    { type: 'secondary', value: 'zero' },
                    { type: 'default', value: 'to releasing ready-to-market' },
                    { type: 'secondary', value: 'apps' }
                ],
                featureOptions: [
                    "I've developed an affiliation checking system between companies for B2B analytics in 10 months",
                    "I've developed a mobile application for real estate brokers in Dubai and an internal ERP system for property management within 2 years",
                    "I've developed a messenger application for Bitrix24 CRM integration with WhatsApp in 8 months"
                ],
                button: {
                    title: 'Look into abyss',
                    link: '#features_3'
                }
            })}
        />
        <fragment
            id="features_3"
            set:html={tailyUI.FeatureCards({
                title: "And I'm still learning",
                color: colorTheme,
                reverse: false,
                featureTitle: 'How to help',
                featureDescription: [
                    { type: 'default', value: 'people' },
                    { type: 'primary', value: 'reach' },
                    { type: 'default', value: 'their goals with minimum' },
                    { type: 'primary', value: 'effort' }
                ],
                featureOptions: [
                    'I working on Feelicy - a mind mapping and goal planning platform in the format of Garden Simulator',
                    'I working on Scripty - a practice-oriented educational platform for everyone who wants to learn JS, cross-platform development & DevOps',
                    'I working on Scientry - all-in-one data management & visualization solution for scientific researches'
                ],
                button: {
                    title: 'Find a new way',
                    link: '#features_4'
                }
            })}
        />
        <fragment
            id="features_4"
            set:html={tailyUI.FeatureCards({
                title: 'Also with the power',
                color: colorTheme,
                reverse: true,
                featureTitle: 'Of science',
                featureDescription: [
                    { type: 'default', value: 'I can' },
                    { type: 'secondary', value: 'prove' },
                    { type: 'default', value: 'that virtually nothing is' },
                    { type: 'secondary', value: 'impossible' }
                ],
                featureOptions: [
                    'I wrote an article about applying a modified genetic algorithm to solve the problem of 3d packaging',
                    'I wrote an article about development of an information system for organizing the work of a production workshop with using of computer vision',
                    'I helped with an article about a comprehensive simulation model of a city transport network'
                ],
                button: {
                    title: 'Do a research',
                    link: '#skills'
                }
            })}
        />
        <fragment
            id="projects"
            set:html={tailyUI.Projects({
                title: 'Best latest works',
                color: colorTheme,
                projects: [
                    {
                        image: '/projects/portfolio.jpg',
                        title: 'CV Design',
                        description: [
                            { type: 'default', value: 'Simple & stylish design system for' },
                            { type: 'primary', value: 'introduction' }
                        ],
                        options: [
                            'Google Material Design approach to give the smoothest site journey for each portfolio visitor',
                            'GSAP animation library to make webpage more dynamic and attention-grabbing. Icons and 3D shapes to make webpage more visual-rich',
                            '7 gradient color themes to add on webpage customization settings and demonstrate flexibility'
                        ],
                        button: {
                            title: 'Read guideline',
                            link: 'https://www.behance.net/gallery/205050469/CV-Design-System',
                            newPage: true
                        },
                        color: 'default'
                    },
                    {
                        image: '/projects/tailyui.jpg',
                        title: 'Taily UI',
                        description: [
                            { type: 'default', value: 'Beautiful UI Library for fast & modern' },
                            { type: 'primary', value: 'websites' }
                        ],
                        options: [
                            'Contains 15 pure Tailwind CSS components & 8 easy-to-use prepared layouts for landing pages',
                            'Cross-framework library created for universal implementation on React, Next.JS, Astro.JS, Svelte, Vue.JS, Nuxt.JS, and vanilla Javascript',
                            'Output HTML/CSS compression for faster and optimized builds & free open-source MIT license'
                        ],
                        button: {
                            title: 'Explore project',
                            link: 'https://tailyui.nikdelvin.dev',
                            newPage: true
                        },
                        color: 'secondary'
                    },
                    {
                        image: '/projects/scientry.jpg',
                        title: 'Scientry',
                        description: [
                            { type: 'default', value: 'Self-hosted CMS solution for' },
                            { type: 'primary', value: 'scientists' }
                        ],
                        options: [
                            'Powered with fast relative SQLite database and data visualization core based on D3.js library',
                            'Content type customization to generate database structure and apply it immediately to your data. Included flexible user permissions management',
                            'Free open-source SDK for self-hosting on your personal computer, VPS or dedicated server'
                        ],
                        button: {
                            title: 'Create new CMS',
                            link: 'https://scientry.nikdelvin.dev',
                            newPage: true
                        },
                        color: 'primary'
                    },
                    {
                        image: '/projects/feelicy.jpg',
                        title: 'Feelicy',
                        description: [
                            { type: 'default', value: 'Meditate and achieve goals in format of' },
                            { type: 'primary', value: 'game' }
                        ],
                        options: [
                            'Create detailed mind maps, goal-planning boards in game-like environment of Garden Simulator',
                            'Playlist of over 500 meditative sounds, tracks, and affirmations to improve your sleep quality, stabilize mood, and decrease anxiety syndrome',
                            'Endless field for growing new habits using daily notifications, achievements & in-game progress'
                        ],
                        button: {
                            title: 'Open your mind',
                            link: 'https://feelicy.nikdelvin.dev',
                            newPage: true
                        },
                        color: 'success'
                    },
                    {
                        image: '/projects/brodly.jpg',
                        title: 'Brodly',
                        description: [
                            { type: 'default', value: 'Anonymous streaming platform for' },
                            { type: 'primary', value: 'everyone' }
                        ],
                        options: [
                            'Contains 30 pre-colored theme overlays for customization of your stream and chat windows',
                            'Group streams for 1-4 streamers to collaborate in your favorite co-op video games & 100% safe private meetings with your family or friends',
                            'AI-powered moderation in stream chat to prevent inappropriate behavior of viewers or streamer'
                        ],
                        button: {
                            title: 'Start broadcast',
                            link: 'https://brodly.nikdelvin.dev',
                            newPage: true
                        },
                        color: 'warning'
                    },
                    {
                        image: '/projects/neuroly.jpg',
                        title: 'Neuroly',
                        description: [
                            { type: 'default', value: 'STT & voice synthesis powered AI' },
                            { type: 'primary', value: 'chatbot' }
                        ],
                        options: [
                            '56 billion tokens in AI model and 700 thousand hours of training model to speech recognition',
                            'AI model can understand 57 different languages from English to Mandarin Chinese and answer you in 16 different languages with 8 voices',
                            `Customize scenario script of the model persona's backstory to get more immersive conversations`
                        ],
                        button: {
                            title: 'Say "Hi!" to AI',
                            link: 'https://neuroly.nikdelvin.dev',
                            newPage: true
                        },
                        color: 'error'
                    },
                    {
                        image: '/projects/scripty.jpg',
                        title: 'Scripty',
                        description: [
                            { type: 'default', value: ' JavaScript & WebDev education for' },
                            { type: 'primary', value: 'everyone' }
                        ],
                        options: [
                            'Contains 100+ practice-oriented lessons about JS, popular Web Frameworks, libraries & more',
                            '10+ example projects explain a deep nutshell of frameworks such as React, Next.JS, Astro.JS, Svelte, Vue.JS, Nuxt.JS, and vanilla Javascript',
                            'Deep dive into command line tools and CI/CD deployment with Git, Docker and Jenkins tutorials'
                        ],
                        button: {
                            title: 'Learn more',
                            link: 'https://scripty.nikdelvin.dev',
                            newPage: true
                        },
                        color: 'ghost'
                    }
                ],
                button: {
                    title: 'To my experience',
                    link: '#jobs'
                }
            })}
        />
        <fragment
            id="skills"
            set:html={tailyUI.Skills({
                title: 'Skills & inspiration',
                color: colorTheme,
                rows: [
                    {
                        title: 'Languages / Frameworks / Runtime',
                        skills: [
                            { title: 'JavaScript', icon: languages.javascript },
                            { title: 'TypeScript', icon: languages.typescript },
                            { title: 'HTML 5', icon: languages.html5 },
                            { title: 'CSS 3', icon: languages.css3 },
                            { title: 'SASS', icon: languages.sass },
                            { title: 'Markdown', icon: languages.markdown },
                            { title: 'GraphQL', icon: languages.graphql },
                            { title: 'Python', icon: languages.python },
                            { title: 'Java', icon: languages.java },
                            { title: 'Swift', icon: languages.swift },
                            { title: 'React', icon: frameworks.react },
                            { title: 'Preact', icon: frameworks.preact },
                            { title: 'Solid JS', icon: frameworks.solid },
                            { title: 'Astro JS', icon: frameworks.astro },
                            { title: 'Next JS', icon: frameworks.nextjs },
                            { title: 'Svelte', icon: frameworks.svelte },
                            { title: 'Vue JS', icon: frameworks.vuejs },
                            { title: 'Nuxt JS', icon: frameworks.nuxtjs },
                            { title: 'Flutter', icon: frameworks.flutter },
                            { title: 'Electron', icon: frameworks.electron },
                            { title: 'Express', icon: frameworks.express },
                            { title: 'Nest JS', icon: frameworks.nestjs },
                            { title: 'Django', icon: frameworks.django },
                            { title: 'Flask', icon: frameworks.flask },
                            { title: 'Fast API', icon: frameworks.fastapi },
                            { title: 'Node JS', icon: runtime.nodejs },
                            { title: 'TS Node', icon: runtime.tsnode },
                            { title: 'Deno', icon: runtime.deno },
                            { title: 'Bun', icon: runtime.bun },
                            { title: 'PyPy', icon: runtime.pypy }
                        ]
                    },
                    {
                        title: 'Open-source libraries & toolkits',
                        skills: [
                            { title: 'Bootstrap', icon: libraries.bootstrap },
                            { title: 'Tailwind CSS', icon: libraries.tailwindcss },
                            { title: 'JQuery', icon: libraries.jquery },
                            { title: 'PostCSS', icon: libraries.postcss },
                            { title: 'Styled Components', icon: libraries.styledcomponents },
                            { title: 'React Router', icon: libraries.reactrouter },
                            { title: 'React Hook Form', icon: libraries.reacthookform },
                            { title: 'Formik', icon: libraries.formik },
                            { title: 'Redux', icon: libraries.redux },
                            { title: 'Recoil', icon: libraries.recoil },
                            { title: 'Ant Design', icon: libraries.antdesign },
                            { title: 'MUI', icon: libraries.mui },
                            { title: 'Taily UI', icon: libraries.tailyui },
                            { title: 'Next UI', icon: libraries.nextui },
                            { title: 'Mantine', icon: libraries.mantine },
                            { title: 'Framer Motion', icon: libraries.framermotion },
                            { title: 'Three JS', icon: libraries.threejs },
                            { title: 'D3 JS', icon: libraries.d3js },
                            { title: 'Babylon JS', icon: libraries.babylonjs },
                            { title: 'Pixi JS', icon: libraries.pixijs },
                            { title: 'Webpack', icon: libraries.webpack },
                            { title: 'Vite', icon: libraries.vite },
                            { title: 'Chart JS', icon: libraries.chartjs },
                            { title: 'Plotly', icon: libraries.plotly },
                            { title: 'Pandas', icon: libraries.pandas },
                            { title: 'Numpy', icon: libraries.numpy },
                            { title: 'OpenCV', icon: libraries.opencv },
                            { title: 'TensorFlow', icon: libraries.tensorflow },
                            { title: 'PyTorch', icon: libraries.pytorch },
                            { title: 'Scikit-Learn', icon: libraries.scikitlearn }
                        ]
                    },
                    {
                        title: 'Deploy / Testing / Data management',
                        skills: [
                            { title: 'Git', icon: deploy.git },
                            { title: 'GitHub', icon: deploy.github },
                            { title: 'Bitbucket', icon: deploy.bitbucket },
                            { title: 'Docker', icon: deploy.docker },
                            { title: 'Jenkins', icon: deploy.jenkins },
                            { title: 'Strapi', icon: deploy.strapi },
                            { title: 'MongoDB', icon: deploy.mongodb },
                            { title: 'MySQL', icon: deploy.mysql },
                            { title: 'SQLite', icon: deploy.sqlite },
                            { title: 'PostgreSQL', icon: deploy.postgresql },
                            { title: 'Jest', icon: deploy.jest },
                            { title: 'Cypress', icon: deploy.cypress },
                            { title: 'Selenium', icon: deploy.selenium },
                            { title: 'Puppeteer', icon: deploy.puppeteer },
                            { title: 'Postman', icon: deploy.postman },
                            { title: 'NPM', icon: deploy.npm },
                            { title: 'PNPM', icon: deploy.pnpm },
                            { title: 'Yarn', icon: deploy.yarn },
                            { title: 'Homebrew', icon: deploy.homebrew },
                            { title: 'PyPI', icon: deploy.pypi },
                            { title: 'Nginx', icon: deploy.nginx },
                            { title: 'CPanel', icon: deploy.cpanel },
                            { title: `Let's Encrypt`, icon: deploy.letsencrypt },
                            { title: 'Grafana', icon: deploy.grafana },
                            { title: 'Sentry', icon: deploy.sentry },
                            { title: 'Google Cloud', icon: deploy.googlecloud },
                            { title: 'Firebase', icon: deploy.firebase },
                            { title: 'Netlify', icon: deploy.netlify },
                            { title: 'Vercel', icon: deploy.vercel },
                            { title: 'Heroku', icon: deploy.heroku }
                        ]
                    },
                    {
                        title: 'Web standards / IDE / Software',
                        skills: [
                            { title: 'ENV', icon: standards.env },
                            { title: 'JWT', icon: standards.jwt },
                            { title: 'WebRTC', icon: standards.webrtc },
                            { title: 'PWA', icon: standards.pwa },
                            { title: 'OWASP', icon: standards.owasp },
                            { title: 'OpenAPI', icon: standards.openapi },
                            { title: 'Swagger', icon: standards.swagger },
                            { title: 'ElasticSearch', icon: standards.elasticsearch },
                            { title: 'Eslint', icon: standards.eslint },
                            { title: 'Prettier', icon: standards.prettier },
                            { title: 'WebStorm', icon: software.webstorm },
                            { title: 'XCode', icon: software.xcode },
                            { title: 'Android Studio', icon: software.androidstudio },
                            { title: 'PyCharm', icon: software.pycharm },
                            { title: 'CodeSandbox', icon: software.codesandbox },
                            { title: 'Figma', icon: software.figma },
                            { title: 'Sketch', icon: software.sketch },
                            { title: 'Behance', icon: software.behance },
                            { title: 'Adobe Illustrator', icon: software.adobeillustrator },
                            { title: 'Adobe Photoshop', icon: software.adobephotoshop },
                            { title: 'Jira', icon: software.jira },
                            { title: 'ClickUp', icon: software.clickup },
                            { title: 'Miro', icon: software.miro },
                            { title: 'Diagrams', icon: software.diagrams },
                            { title: 'Slack', icon: software.slack },
                            { title: 'Discord', icon: software.discord },
                            { title: 'OpenAI', icon: software.openai },
                            { title: 'Grammarly', icon: software.grammarly },
                            { title: 'LeetCode', icon: software.leetcode },
                            { title: 'CodeWars', icon: software.codewars }
                        ]
                    }
                ],
                musicTitle: 'Favorite music for development',
                music: [
                    'https://open.spotify.com/embed/track/5TL04XPWpL2rTK7HLBWK6N',
                    'https://open.spotify.com/embed/track/2Z8WuEywRWYTKe1NybPQEW',
                    'https://open.spotify.com/embed/track/43aktSsHN3Pgu0dzw3BS5W',
                    'https://open.spotify.com/embed/track/7Iiek3SL6PluRxj9IgbTC1',
                    'https://open.spotify.com/embed/track/7sA2SKTo1QbTSSYn5YvJC4'
                ],
                button: {
                    title: 'Read my thoughts',
                    link: 'https://dev.to/nikdelvin',
                    newPage: true
                }
            })}
        />
        <fragment
            id="jobs"
            set:html={tailyUI.Jobs({
                title: 'Work experience',
                color: colorTheme,
                jobs: [
                    {
                        from: ['17', 'May', '2022'],
                        to: [String(day), monthNames[month], String(year)],
                        title: 'BSO Real Estate Management',
                        description: [
                            { type: 'default', value: 'Team' },
                            { type: 'primary', value: 'leader' },
                            { type: 'default', value: '/' },
                            { type: 'primary', value: 'Backend' },
                            { type: 'default', value: 'developer /' },
                            { type: 'primary', value: 'DevOps' }
                        ],
                        role: [
                            'Management of a team of 5 frontend React developers to create a cross-platform mobile application and internal use ERP system',
                            'Development of API gateway as a backend for company website, application and internal marketing, ERP, payment & CI/CD systems',
                            'Building and setting up VPS architecture and CI/CD environment, dockerization for API, application, ERP and periphery microservices'
                        ],
                        button: {
                            title: 'Visit website',
                            link: 'https://bso.ae',
                            newPage: true
                        }
                    },
                    {
                        from: ['19', 'January', '2021'],
                        to: ['11', 'May', '2022'],
                        title: 'WhatCRM by LifeTelecom',
                        description: [
                            { type: 'default', value: 'Frontend' },
                            { type: 'primary', value: 'Next.JS' },
                            { type: 'default', value: '/' },
                            { type: 'primary', value: 'React' },
                            { type: 'default', value: 'web developer' }
                        ],
                        role: [
                            'Development of a custom WhatsApp Web client as an integration for CRMs to deal distribution between clients and CRM employees',
                            'Building a web plugin for CRMs as a personal account for managing WhatsApp integrations, connected numbers, and user pipelines',
                            `Supporting an internal dashboard for managing users' WhatsApp client instances, CRM integration deployments, and work with DB`
                        ],
                        button: {
                            title: 'Go to platform',
                            link: 'https://whatcrm.net/en',
                            newPage: true
                        }
                    },
                    {
                        from: ['25', 'May', '2019'],
                        to: ['13', 'January', '2021'],
                        title: 'Unistroy Construction',
                        description: [
                            { type: 'default', value: 'Fullstack' },
                            { type: 'primary', value: 'React' },
                            { type: 'default', value: '/' },
                            { type: 'primary', value: 'Python' },
                            { type: 'default', value: 'web developer' }
                        ],
                        role: [
                            'Development of an internal big-data service for analyzing the reliability of counterparties and affiliate connections between them',
                            'Working on an automated website parsing & data collection system for statistical research in the field of counterparties connections',
                            'Building a system of text emotional analysis for reputational research between counterparties in news and social networks'
                        ],
                        button: {
                            title: 'Check recreation',
                            link: 'https://github.com/nikdelvin',
                            newPage: true
                        }
                    }
                ]
            })}
        />
        <fragment
            id="footer"
            set:html={tailyUI.Footer({
                color: colorTheme,
                blocks: [
                    {
                        title: 'About',
                        text: [
                            { type: 'default', value: `Hi, I'm` },
                            { type: 'primary', value: 'Nikita Stadnik' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: `I'm a passionate and ambitious` },
                            { type: 'primary', value: 'Fullstack Web Developer' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'My love is' },
                            { type: 'primary', value: 'developing' },
                            { type: 'default', value: 'cross-platform applications from zero to production' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: `I've mastered` },
                            { type: 'primary', value: 'T-shaped skills' },
                            { type: 'default', value: `that help me work solo on my own big projects` }
                        ]
                    },
                    {
                        title: 'Contacts',
                        text: [
                            { type: 'default', value: 'Email:' },
                            {
                                type: 'primary',
                                value: 'erter.live@gmail.com',
                                link: 'mailto:erter.live@gmail.com',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Github:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://github.com/nikdelvin',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'DEV Blog:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://dev.to/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Behance:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://www.behance.net/nikdelvin',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Telegram:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://t.me/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'LinkedIn:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://www.linkedin.com/in/nikdelvin',
                                newPage: true
                            }
                        ]
                    },
                    {
                        title: 'Projects',
                        text: [
                            { type: 'primary', value: 'TailyUI', link: 'https://tailyui.nikdelvin.dev', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Modern UI Library 100% built and animated with pure Tailwind CSS'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Brodly', link: 'https://brodly.nikdelvin.dev', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>High-secure and fully anonymous live streaming platform for everyone'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Neuroly', link: 'https://neuroly.nikdelvin.dev', newPage: true },
                            { type: 'default', value: '<br/>STT and voice synthesis AI chatbot' }
                        ]
                    },
                    {
                        title: 'Coming soon',
                        text: [
                            { type: 'primary', value: 'Scripty', link: 'https://scripty.nikdelvin.dev', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Practice-oriented educational platform to learn JavaScript & WebDev'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Feelicy', link: 'https://feelicy.nikdelvin.dev', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Mind mapping and goal planning service in game format of Garden Sim'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            {
                                type: 'primary',
                                value: 'Scientry',
                                link: 'https://scientry.nikdelvin.dev',
                                newPage: true
                            },
                            { type: 'default', value: '<br/>Data management & visualization tool' }
                        ]
                    },
                    {
                        title: 'Experience',
                        text: [
                            {
                                type: 'primary',
                                value: `17.05.22 - ${String(day).padStart(2, '0')}.${String(month + 1).padStart(2, '0')}.${String(year).slice(2)}:`
                            },
                            { type: 'default', value: 'BSO Real Estate Management.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Team leader / DevOps / Backend developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Cross-platform mobile app & internal ERP system.' },
                            { type: 'primary', value: 'Info', link: 'https://bso.ae', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '19.01.21 - 11.05.22:' },
                            { type: 'default', value: 'WhatCRM by LifeTelecom.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Frontend Next.JS / React web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Custom WhatsApp Web client as an integration for CRMs.' },
                            { type: 'primary', value: 'Info', link: 'https://whatcrm.net/en', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '25.05.19 - 13.01.21:' },
                            { type: 'default', value: 'Unistroy Construction.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Fullstack React / Python web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Big-data service for analyzing counterparties affiliations.' },
                            { type: 'primary', value: 'Info', link: 'https://github.com/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Total time on development "battlefield":' },
                            {
                                type: 'primary',
                                value: `${Math.floor((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24) / 365)}`
                            },
                            { type: 'default', value: 'years and' },
                            {
                                type: 'primary',
                                value: `${Math.floor(((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24)) % 365)}`
                            },
                            { type: 'default', value: 'days' }
                        ]
                    },
                    {
                        title: 'Skills',
                        text: [
                            { type: 'primary', value: 'Languages:' },
                            { type: 'default', value: 'JavaScript, TypeScript, HTML 5, CSS 3, Python, Java, Swift' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Frameworks:' },
                            {
                                type: 'default',
                                value: 'React, Solid, Astro, Next, Svelte, Vue, Nuxt, Nest, Electron, Flask'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Libraries:' },
                            {
                                type: 'default',
                                value: 'Bootstrap, Tailwind, Formik, Redux, Recoil, MUI, Framer, Three JS'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'And more other deeply learned' },
                            { type: 'primary', value: 'tools', link: '#skills' }
                        ]
                    },
                    {
                        title: 'Articles',
                        text: [
                            { type: 'primary', value: '04.08.20:' },
                            {
                                type: 'default',
                                value: 'Modified genetic algorithm as a new approach for solving the problem of 3d packaging.'
                            },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ceur-ws.org/Vol-2667/paper21.pdf',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '24.12.21:' },
                            {
                                type: 'default',
                                value: 'Development of an information system for organizing the work of a production workshop.'
                            },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ieeexplore.ieee.org/document/9649154',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '03.11.23:' },
                            { type: 'default', value: 'Comprehensive simulation model of city transport network.' },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ieeexplore.ieee.org/document/10303830',
                                newPage: true
                            }
                        ]
                    }
                ]
            })}
        />
    </main>
</Layout>
<style is:global>
    :root::-webkit-scrollbar {
        display: none !important;
    }
    :root::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    :root::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar {
        display: none !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
    @property --icon-start-color-primary {
        syntax: '<color>';
        inherits: false;
        initial-value: #94a3b8;
    }
    @property --icon-end-color-primary {
        syntax: '<color>';
        inherits: false;
        initial-value: #a1a1aa;
    }
</style>
