---
import Layout from '../layouts/Layout.astro'
import tailyUI from 'taily-ui'

const month = new Date().getMonth()
const day = new Date().getDate()
const year = new Date().getFullYear()
const monthNames = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]
---

<Layout
    title="Hi, Nik Delvin here!"
    description="6-years experienced, 3-startups launched Full-stack Web Developer, Android/IOS Developer, DevOps."
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: '/favicon.svg',
                title: 'Nik Delvin',
                color: 'default',
                text: [
                    { type: 'default', value: 'Launch' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: `ideas directly to your customers' PC or phone devices with help of`
                    },
                    { type: 'secondary', value: 'all-in-one developer' }
                ],
                description:
                    '6-years experienced, 3-startups launched Full-stack Web Developer, Android/IOS Developer, DevOps.',
                button: {
                    title: 'To my projects',
                    link: '#projects'
                },
                github: 'https://github.com/nikdelvin'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'I can offer you',
                color: 'default',
                cards: [
                    { title: '6', description1: 'years of', description2: 'experience' },
                    { title: '3', description1: 'launched', description2: 'projects' },
                    { title: '6', description1: 'open source', description2: 'projects' },
                    { title: '3', description1: 'scientific', description2: 'articles' }
                ],
                button: {
                    title: 'Hire me today',
                    link: '#footer'
                }
            })}
        />
        <fragment
            id="features_1"
            set:html={tailyUI.FeatureCards({
                title: "I've learned a lot",
                color: 'default',
                reverse: false,
                featureTitle: 'My journey',
                featureDescription: [
                    { type: 'default', value: 'Starts with an' },
                    { type: 'primary', value: 'idea' },
                    { type: 'default', value: 'to create a' },
                    { type: 'primary', value: 'site builder' }
                ],
                featureOptions: [
                    "I've created Brodly - a stylish, modern, high-secure, and fully anonymous live-streaming platform",
                    "I've created TailyUI - an open-source Components & Site Layouts UI library 100% built and animated with pure Tailwind CSS which I support to this day",
                    "I've created Neuroly - an AI chatbot based on 56B tokens LLM, with voice recognition and synthesis"
                ],
                button: {
                    title: 'Learn more',
                    link: '#features_2'
                }
            })}
        />
        <fragment
            id="features_2"
            set:html={tailyUI.FeatureCards({
                title: 'I made a deep dive into',
                color: 'default',
                reverse: true,
                featureTitle: 'Web Dev',
                featureDescription: [
                    { type: 'default', value: 'From' },
                    { type: 'secondary', value: 'zero' },
                    { type: 'default', value: 'to releasing ready-to-market' },
                    { type: 'secondary', value: 'apps' }
                ],
                featureOptions: [
                    "I've developed an affiliation checking system between companies for B2B analytics in 10 months",
                    "I've developed a mobile application for real estate brokers in Dubai and an internal ERP system for property management within 2 years",
                    "I've developed a messenger application for Bitrix24 CRM integration with WhatsApp in 8 months"
                ],
                button: {
                    title: 'Look into abyss',
                    link: '#features_3'
                }
            })}
        />
        <fragment
            id="features_3"
            set:html={tailyUI.FeatureCards({
                title: "And I'm still learning",
                color: 'default',
                reverse: false,
                featureTitle: 'How to help',
                featureDescription: [
                    { type: 'default', value: 'people' },
                    { type: 'primary', value: 'reach' },
                    { type: 'default', value: 'their goals with minimum' },
                    { type: 'primary', value: 'effort' }
                ],
                featureOptions: [
                    'I working on Feelicy - a mind mapping and goal planning platform in the format of Garden Simulator',
                    'I working on Scripty - a practice-oriented educational platform for everyone who wants to learn JS, cross-platform development & DevOps',
                    'I working on Scientry - all-in-one data management & visualization solution for scientific researches'
                ],
                button: {
                    title: 'Find a new way',
                    link: '#features_4'
                }
            })}
        />
        <fragment
            id="features_4"
            set:html={tailyUI.FeatureCards({
                title: 'Also with the power',
                color: 'default',
                reverse: true,
                featureTitle: 'Of science',
                featureDescription: [
                    { type: 'default', value: 'I can' },
                    { type: 'secondary', value: 'prove' },
                    { type: 'default', value: 'that virtually nothing is' },
                    { type: 'secondary', value: 'impossible' }
                ],
                featureOptions: [
                    'I wrote an article about applying a modified genetic algorithm to solve the problem of 3d packaging',
                    'I wrote an article about development of an information system for organizing the work of a production workshop with using of computer vision',
                    'I wrote an article about multi-physics modeling framework development for materials processing'
                ],
                button: {
                    title: 'Do a research',
                    link: '#skills'
                }
            })}
        />
        <fragment
            id="projects"
            set:html={tailyUI.Projects({
                title: 'Best latest works',
                color: 'default',
                projects: [],
                button: {
                    title: 'To my experience',
                    link: '#jobs'
                }
            })}
        />
        <fragment
            id="skills"
            set:html={tailyUI.Skills({
                title: 'Skills & inspiration',
                color: 'default',
                skills: [
                    { title: 'JS', icon: '/javascript.svg' },
                    { title: 'HTML5', icon: '/html-5.svg' },
                    { title: 'CSS3', icon: '/css-3.svg' },
                    { title: 'Python', icon: '/python.svg' },
                    { title: 'Rust', icon: '/rust.svg' },
                    { title: 'Astro JS', icon: '/astro-js.svg' },
                    { title: 'Next JS', icon: '/next-js.svg' },
                    { title: 'React', icon: '/react.svg' },
                    { title: 'Three JS', icon: '/three-js.svg' },
                    { title: 'Figma', icon: '/figma.svg' },
                    { title: 'Node JS', icon: '/node-js.svg' },
                    { title: 'Express', icon: '/express-js.svg' },
                    { title: 'My SQL', icon: '/my-sql.svg' },
                    { title: 'Git', icon: '/git.svg' },
                    { title: 'Docker', icon: '/docker.svg' },
                    { title: 'Tailwind CSS', icon: '/tailwind-css.svg' },
                    { title: 'Bootsrap', icon: '/bootstrap.svg' },
                    { title: 'Sass', icon: '/sass.svg' },
                    { title: 'Android Studio', icon: '/android-studio.svg' },
                    { title: 'Swift', icon: '/swift.svg' },
                    { title: 'Django', icon: '/django.svg' },
                    { title: 'Flask', icon: '/flask.svg' },
                    { title: 'Cloud Platform', icon: '/google-cloud-platform.svg' },
                    { title: 'Compute Engine', icon: '/google-compute-engine.svg' },
                    { title: 'MATLAB', icon: '/matlab.svg' }
                ],
                music: [
                    'https://open.spotify.com/embed/track/5TL04XPWpL2rTK7HLBWK6N',
                    'https://open.spotify.com/embed/track/2Z8WuEywRWYTKe1NybPQEW',
                    'https://open.spotify.com/embed/track/43aktSsHN3Pgu0dzw3BS5W',
                    'https://open.spotify.com/embed/track/7Iiek3SL6PluRxj9IgbTC1',
                    'https://open.spotify.com/embed/track/7sA2SKTo1QbTSSYn5YvJC4'
                ],
                button: {
                    title: 'Read my thoughts',
                    link: 'https://dev.to/nikdelvin',
                    newPage: true
                }
            })}
        />
        <fragment
            id="jobs"
            set:html={tailyUI.Jobs({
                title: 'Work experience',
                color: 'default',
                jobs: [
                    {
                        from: ['17', 'May', '2022'],
                        to: [String(day), monthNames[month], String(year)],
                        title: 'BSO Real Estate Management',
                        description: [
                            { type: 'default', value: 'Team' },
                            { type: 'primary', value: 'leader' },
                            { type: 'default', value: '/' },
                            { type: 'primary', value: 'Backend' },
                            { type: 'default', value: 'developer /' },
                            { type: 'primary', value: 'DevOps' }
                        ],
                        role: [
                            'Management of a team of 5 frontend React developers to create a cross-platform mobile application and internal use ERP system',
                            'Development of API gateway as a backend for company website, application and internal marketing, ERP, payment & CI/CD systems',
                            'Building and setting up VPS architecture and CI/CD environment, dockerization for API, application, ERP and periphery microservices'
                        ],
                        button: {
                            title: 'Visit website',
                            link: 'https://bso.ae',
                            newPage: true
                        }
                    },
                    {
                        from: ['19', 'January', '2021'],
                        to: ['11', 'May', '2022'],
                        title: 'WhatCRM by LifeTelecom',
                        description: [
                            { type: 'default', value: 'Frontend' },
                            { type: 'primary', value: 'Next.JS' },
                            { type: 'default', value: '/' },
                            { type: 'primary', value: 'React' },
                            { type: 'default', value: 'web developer' }
                        ],
                        role: [
                            'Development of a custom WhatsApp Web client as an integration for CRMs to deal distribution between clients and CRM employees',
                            'Building a web plugin for CRMs as a personal account for managing WhatsApp integrations, connected numbers, and user pipelines',
                            `Supporting an internal dashboard for managing users' WhatsApp client instances, CRM integration deployments, and work with DB`
                        ],
                        button: {
                            title: 'Go to platform',
                            link: 'https://whatcrm.net/en',
                            newPage: true
                        }
                    },
                    {
                        from: ['25', 'May', '2019'],
                        to: ['13', 'January', '2021'],
                        title: 'Unistroy Construction',
                        description: [
                            { type: 'default', value: 'Fullstack' },
                            { type: 'primary', value: 'React' },
                            { type: 'default', value: '/' },
                            { type: 'primary', value: 'Python' },
                            { type: 'default', value: 'web developer' }
                        ],
                        role: [
                            'Development of an internal big-data service for analyzing the reliability of counterparties and affiliate connections between them',
                            'Working on an automated website parsing & data collection system for statistical research in the field of counterparties connections',
                            'Building a system of text emotional analysis for reputational research between counterparties in news and social networks'
                        ],
                        button: {
                            title: 'Check recreation',
                            link: 'https://github.com/nikdelvin',
                            newPage: true
                        }
                    }
                ]
            })}
        />
        <fragment
            id="footer"
            set:html={tailyUI.Footer({
                color: 'default',
                blocks: [
                    { title: 'About', text: [] },
                    {
                        title: 'Contacts',
                        text: [
                            { type: 'default', value: 'Nikita Stadnik' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Email:' },
                            { type: 'primary', value: 'erter.live@gmail.com', link: 'mailto:erter.live@gmail.com' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Github:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://github.com/nikdelvin' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'DEV Blog:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://dev.to/nikdelvin' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Telegram:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://t.me/nikdelvin' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'LinkedIn:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://www.linkedin.com/in/nikdelvin' }
                        ]
                    },
                    {
                        title: 'Projects',
                        text: [
                            { type: 'primary', value: 'TailyUI', link: 'https://tailyui.nikdelvin.dev' },
                            { type: 'default', value: '<br/>Modern UI Library 100% built and animated with pure Tailwind CSS' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Brodly', link: 'https://brodly.nikdelvin.dev' },
                            { type: 'default', value: '<br/>High-secure and fully anonymous live streaming platform for everyone' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Neuroly', link: 'https://neuroly.nikdelvin.dev' },
                            { type: 'default', value: '<br/>STT and voice synthesis AI chatbot' }
                        ]
                    },
                    {
                        title: 'Coming soon',
                        text: [
                            { type: 'primary', value: 'Scripty', link: 'https://scripty.nikdelvin.dev' },
                            { type: 'default', value: '<br/>Practice-oriented educational platform to learn JavaScript & WebDev' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Feelicy', link: 'https://feelicy.nikdelvin.dev' },
                            { type: 'default', value: '<br/>Mind mapping and goal planning service in game format of Garden Sim' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Scientry', link: 'https://scientry.nikdelvin.dev' },
                            { type: 'default', value: '<br/>Data management & visualization tool' }
                        ]
                    },
                    {
                        title: 'Experience',
                        text: [
                            {
                                type: 'primary',
                                value: `17.05.2022 - ${String(day).padStart(2, '0')}.${String(month + 1).padStart(2, '0')}.${String(year)}:`
                            },
                            { type: 'default', value: 'BSO Real Estate Management.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Team leader / Backend developer / DevOps.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Cross-platform mobile app and internal ERP system' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '19.01.2021 - 11.05.2022:' },
                            { type: 'default', value: 'WhatCRM by LifeTelecom.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Frontend Next.JS / React web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Custom WhatsApp Web client as an integration for CRMs' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '25.05.2019 - 13.01.2021:' },
                            { type: 'default', value: 'Unistroy Construction.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Fullstack React / Python web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Big-data service for analyzing counterparties affiliations' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Total time on development "battlefield":' },
                            {
                                type: 'primary',
                                value: `${Math.floor((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24) / 365)}`
                            },
                            { type: 'default', value: 'years and' },
                            {
                                type: 'primary',
                                value: `${Math.floor(((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24)) % 365)}`
                            },
                            { type: 'default', value: 'days' }
                        ]
                    },
                    { title: 'Skills', text: [] },
                    { title: 'Articles', text: [] }
                ]
            })}
        />
    </main>
</Layout>
<style is:global>
    :root::-webkit-scrollbar {
        display: none !important;
    }
    :root::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    :root::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar {
        display: none !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
</style>
